{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'db_show/style.css' %}"/>
    <title>Title</title>
</head>
<body>

<table>
<tr>
    <th>ИМЯ</th>
    <th>ГРУППА</th>
    <th>КОЛЛЕДЖ</th>
    </tr>
{% for student in students %}

   <tr>
       <td>{{ student }}</td>
       <td>{{ student.id_group }}</td>
       <td>{{ student.id_group.id_college }}</td>
   </tr>
{% endfor %}
</table>

</body>
</html>